/* InputText */
.InputText {
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 8px 10px;
  color: #3f5173;
  border: 1px solid #d6e4ff;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
}
.InputDate { 
  outline: none;
  border: none;
  border: 1px solid #d6e4ff;
  border-radius: 3px;
  padding: 5px 10px;
  background: transparent;
}
.InputDate[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../../assets/icons/Calendar.svg) no-repeat;
  cursor: pointer;
}
