.drivers__ .top_bar__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 81px 20px 16px;
}
.drivers__ .top_bar__ .block__1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drivers__ .top_bar__ .block__1 .txt__ {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #484d8c;
}
.drivers__ .top_bar__ .block__1 .box__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px 0 16px;
}
.drivers__ .top_bar__ .block__1 .box__ .add_btn__ {
  margin: 0 5px 0 0px;
}
.drivers__ .top_bar__ .block__1 .box__ .search__ {
  margin: 0 0 0 5px;
  display: flex;
  align-items: center;
  border: 1px solid #d6e4ff;
  border-radius: 3px;
}
.drivers__ .top_bar__ .block__1 .box__ .search__ input {
  outline: none;
  background: transparent;
  border: none;
  padding: 10px 10px 10px 0;
  color: #3461ff;
  font-style: normal;
  font-weight: 450;
  font-size: 15px;
  line-height: 19px;
}
.drivers__ .top_bar__ .block__1 .box__ .search__ input::placeholder {
  color: #3461ff;
}
.drivers__ .top_bar__ .block__1 .box__ .search__ img {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
  padding: 10px;
}
.drivers__ .top_bar__ .add_btn__ {
  margin-left: 9px;
}
